# Node environment
NODE_ENV=dev
# Time zone
TZ=Europe/Paris
# Limits
REQUEST_MAX_SIZE=10mb
# API host
HOST=localhost
# API port
PORT=3333
# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=your_database_name
# Session driver
SESSION_DRIVER=cookie
# Client app url
CLIENT_APP_URL=http://localhost:5173
# JWT
JWT_SECRET=your_very_long_random_secret_key_here
JWT_SECRET_REFRESH=your_different_very_long_refresh_secret_here
